{% extends 'GibzNewsBundle:layout:default.html.twig' %}
{% block body %}
    <div class="article-entry">
        <h2 class="article-header">
            {{ article.title }}
            <small><a href="{{ url('gibz_news_homepage') }}">Go back</a></small>
        </h2>
        <div class="article-content">
            {{ article.body }}
        </div>
    </div>
{% endblock %}